# Rcpp stuff
src/*.o
src/*.so
src/*.dll

# History files
.RData
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
*.Rproj
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
